#!/bin/bash

set -e
set -u

BACKUP_MOUNT="/mnt/backups"
BACKUP_LVM="{{ backup_lvm }}"
BACKUP_DESTINATION="${BACKUP_MOUNT}"

if [ ! -f "${BACKUP_MOUNT}/.mounted" ]
then
  mount ${BACKUP_LVM} ${BACKUP_MOUNT}
fi

if [ ! -f "${BACKUP_MOUNT}/.mounted" ]
then
  echo "Could not mount backup location: ${BACKUP_MOUNT}"
  exit 1
fi

/usr/local/bin/backups/tar.sh ${BACKUP_DESTINATION}

echo "Backup complete, disk free space follows"
/bin/df -h

if [ -f "${BACKUP_MOUNT}/.mounted" ]
then
  umount ${BACKUP_MOUNT}
fi
